<script lang="ts">
  export const prerender = true;
  export const name = 'Pog';
</script>

# POGGERS  hi foo whats svx svelte vmarkdown x xqcL pag theres this thing like mdx because mdx is react oh no
this is svelte mdx for some reason markdown syntax highlights this perfectly so thats baesd 
how do i get syntax highlighty it should be built in :( no 

paggies

SADVED POG SAVED POGGING real http://localhost:3000