.markdown-body {
  background-color: $background;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: 1px solid $text-muted;
    padding-bottom: 0.3rem;
  }

  hr {
    border-radius: 3px;
  }

  p,
  ul,
  ol {
    color: $text-secondary;
    line-height: 1.7rem;
    list-style: disc;
  }

  ul {
    li::marker {
      color: lighten($text-muted, 15%);
    }
  }

  ol {
    li::marker {
      color: darken($text-secondary, 10%);
    }
  }

  hr {
    background-color: $text-muted;
  }

  blockquote {
    border: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;

      left: -0.25rem;

      width: 0.25rem;
      height: 100%;

      border-radius: 0.25rem;

      background-color: $text-muted;
    }

    p,
    ul,
    ol,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $text-quote;
    }
  }

  code,
  tt {
    background: $elevated;
  }

  table {
    border-radius: 0.3rem;
    color: $text-secondary;

    thead > tr {
      background-color: $elevated;
    }

    th,
    tr,
    td {
      border: none;
    }

    tr {
      border-bottom: 2px solid $text-muted;
    }

    tr:last-child {
      border-color: transparent;
    }

    tr,
    tr:nth-child(2n) {
      background-color: lighten($background, 1%);
    }
  }
}

code[class*='language-'],
pre[class*='language-'] {
  background: $elevated;
}
