/* Variables and mixins declared here will be available in all other SCSS files */
$background: #151515;
$foreground: #242424;
$elevated: #2e2e2e;

$text-primary: #fefefe;
$text-secondary: #8899a5;
$text-muted: #272727;

$font-family-roboto: 'Roboto', sans-serif;
$font-family-sans: 'Roboto', sans-serif;
$font-family-mono: 'JetBrains Mono', monospace;

$header-height: 40px;
$sidebar-width: 300px;
