@import 'github-markdown-css/github-markdown-dark.css';
@import 'prism-themes/themes/prism-one-dark.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background overflow-hidden;

  height: 100vh;
  width: 100%;
}

main {
  @apply flex flex-row h-full w-full;
  @apply max-w-[1500px] mx-auto gap-8;
  @apply overflow-hidden;
}

aside {
  @apply flex flex-col min-w-[250px] overflow-y-auto p-8 pr-0;
}

section {
  @apply flex flex-col flex-grow xl:pr-[250px] overflow-y-auto p-8 md:pl-0;
  background-color: inherit !important;
}

a {
  @apply text-primary hover:text-secondary;
}

pre {
  overflow: visible !important;
}
